<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds" debug="true">
    <contextName>mr.world.services</contextName>

    <!--定义日志文件的变量 -->
    <property name="LOG_HOME" value="/home/logs/soa"/>
    <property name="APP_NAME" value="world-SOA"/>
    <property name="LOG_REG"
              value="%d{MM-dd HH:mm:ss.SSS} [%t] %-5p %logger - %m%n"/>

    <!-- console log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_REG}</pattern>
        </encoder>
    </appender>

    <!-- file log -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}.${APP_NAME}-detail.log
            </FileNamePattern>
            <MaxHistory>21</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_REG}</pattern>
        </encoder>
    </appender>

    <!--error log -->
    <appender name="FILE_error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}.${APP_NAME}-error.log
            </FileNamePattern>
            <MaxHistory>21</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_REG}</pattern>
        </encoder>
        <!-- 只打印错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- AOP拦截日志 -->
    <appender name="AOPFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}.${APP_NAME}-aop.log
            </FileNamePattern>
            <MaxHistory>21</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_REG}</pattern>
        </encoder>
    </appender>

    <!-- ###########################为不同的包配置不同的日志输出########################### -->
    <logger name="org.springframework" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.context" level="Error">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="Error">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.validator" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.mybatis.spring" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.mrs.parent.rpc" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- ###########################日志输出级别 ########################### -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_error"/>
    </root>

</configuration>